@page "/"

<PageTitle>Home</PageTitle>

@* <AuthorizeView>
    <Authorized>
<p class="alert alert-success">Welcome @context.User.Identity.Name</p>*@

<h1>Hello, world!</h1>

Welcome to your new app.

@* </Authorized>
    <NotAuthorized>
        <p class="alert alert-danger">Sorry you are not authorized</p>
    </NotAuthorized>
</AuthorizeView>
 *@